{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 <title>{% block title %}}{% endblock %}</title>
 <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
 <script type="text/javascript" src="{% static 'bootstrap/jquery/jquery-3.4.1.js' %}"></script>
 <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  {% block header_extends %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" style="color:white" href="{% url 'Home'%}">课题组主页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color:white" href="{% url 'article_list'%}">Articles <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white"  href="{% url 'member_list'%}">People</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white"  href="{% url 'research'%}">
          Research
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  style="color:white" href="{% url 'publication_list'%}">Publications</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="container-fluid">
    {% block homepage %}{% endblock %}
</div>
<div class="container-fluid">
  <div class="row">
       <div class="col-8">
          {% block content %}{% endblock %}
       </div>

  </div>
</div>
<div class="alert alert-dark bg-dark" role="alert">
   <p style="text-align: center;color:white" ">CopyRight © 2018 ~ 2019 鄢勇课题组</p>
    <p style="text-align: center;color:white">Powered by Django & Bootstrap</p>
</div>
</body>

</html>