{% extends 'base.html' %}
{% block title %}欢迎访问{% endblock %}
{% block content %}
    <p>总共有{{ all|length }}篇新闻</p>
  {% for article in articles %}
         <a href="{% url 'detail' article.id %}">
             <h3>{{ article.title }}</h3>
         </a>
         <p> 作者：{{ article.author }}</p>
         <p>创建时间：{{ article.created_time }}</p>
         <p>{{ article.content|safe|truncatechars:100}}</p>
  {%  endfor %}
    <div class="pagination row">
    <div class="m-auto">
        <span class="step-links">
            <!-- 如果不是第一页，则显示上翻按钮 -->
            {% if articles.has_previous %}
                <a href="?page=1" class="btn btn-success">
                    &laquo; 1
                </a>
                <span>...</span>
                <a href="?page={{ articles.previous_page_number }}" 
                   class="btn btn-secondary"
                >
                    {{ articles.previous_page_number }}
                </a>
            {% endif %}

            <!-- 当前页面 -->
            <span class="current btn btn-danger btn-lg">
                {{ articles.number }}
            </span>

            <!-- 如果不是最末页，则显示下翻按钮 -->
            {% if articles.has_next %}
                <a href="?page={{ articles.next_page_number }}"
                   class="btn btn-secondary"
                >
                    {{ articles.next_page_number }}
                </a>
                <span>...</span>
                <a href="?page={{ articles.paginator.num_pages }}"
                   class="btn btn-success"
                >
                    {{ articles.paginator.num_pages }} &raquo;
                </a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}
