{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}欢迎访问{% endblock %}
{% block content %}
    <div class="container-fluid">
      <div class="row">
       <div class="col-4">
           <div class="yan" >
             <img src="{% static "peo_img/yany.png" %}" style= " max-width: 80%; margin-top:30%;border-radius: 50%">
           </div>
       </div>
       <div class="col-8" >
          <h3>Yong Yan</h3>
           <p>Email:yany@nanoctr.cn</p>
           <h3>brief introduction</h3>
           <p>鄢勇，国家纳米科学中心研究员，博士生导师，科技部“纳米科技”重点专项青年项目负责人（原青年973首席）。</p>
           <p>2001.09—2007.07，北京科技大学本科，硕士；</p>
           <p>2007.09—2010.07国家纳米科学中心，博士；</p>
           <p>2010.08—2014.12美国西北大学，博后。</p>
           <p>2014.12回国加入国家纳米科学中心。</p>
           <h3>研究领域</h3>
           <p>1) 非硅基材料纳米电子器件</p>
             <p>2) 手性材料自旋电子器件</p>
             <p>3) 新型纳米能源器件</p>
       </div>
      </div>
    </div>
<hr style="border-bottom:3px double red;">
    <div class="container" >
     {% for member in members %}

            <div class="row">
                <div class="col-3" >
                    <img src="http://127.0.0.1:8000/media/{{ member.img }}" style="max-width:100%; border-radius: 50%">
                </div>
                <div class="col-3" >
                    <h3>{{ member.name }}</h3>
                   <p>{{ member.grade }}</p>
                  <p>Email：{{ member.email }}</p>
                  <p>{{ member.introduction }}</p>
                </div>
            </div>
         <hr>
     {%  endfor %}
    </div>
{% endblock %}
